/Build/
/Data/
/Packages/Framework/
/Packages/Libraries/
/Packages/Application/*
!/Packages/Application/TYPO3.IHS
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/.idea/
extensions.xml

# exclude everything except Routes.yaml
/Configuration/*
!/Configuration/Routes.yaml