/Build/
/Data/
/Packages/Framework/
/Packages/Libraries/
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/.idea/

# exclude everything except Routes.yaml
/Configuration/*
!/Configuration/Routes.yaml