<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers">

<f:section name="Content">
			<li>
				<label for="title">Title</label>
				<f:form.textfield property="title" id="title" />
			</li>

			<li>
				<label for="abstract">Abstract</label>
				<f:form.textarea property="abstract" id="abstract" />
			</li>

			<li>
				<label for="description">Description</label>
				<f:form.textarea property="description" id="description" />
			</li>

			<li>
				<label for="vulnerabilityType">Vulnerability Type</label>
				<f:form.textarea property="vulnerabilityType" id="vulnerabilityType" />
			</li>

			<li>
				<label for="reporter">Reporter</label>
				<f:form.textarea property="reporter" id="reporter" />
			</li>

			<li>
				<label for="product">Product</label>
				<f:form.select property="product" options="{products}" optionLabelField="name" prependOptionLabel="- select one -" />
			</li>

			<li>
				<label for="affectedVersions">Affected Versions</label>
				<f:form.textfield property="affectedVersions" id="affectedVersions" />
			</li>

			<li>
				<label for="CVE">CVE</label>
				<f:form.textfield property="CVE" id="CVE" />
			</li>

			<li>
				<label for="CVSS">CVSS</label>
				<f:form.textfield property="CVSS" id="CVSS" />
			</li>

			<li>
				<label>LINKS</label>
				<f:render partial="ObjectCollection" section="Content" arguments="{objects: object.links, partial:'Link/FormFields'}"/>
			</li>

			<li>
				<h4>Solutions</h4>
				<f:render partial="ObjectCollection" section="Content" arguments="{objects: object.solutions, partial:'Solution/FormFields'}"/>
		</li>
</f:section>
</html>