<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers">


<f:layout name="Default" />

<f:section name="Title">Edit issue "{issue.title}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{issue}" objectName="issue">
		<f:alias map="{errorContext: 'issue'}">
			<f:render partial="FormErrors" arguments="{_all}" />
		</f:alias>

		<ol>
			<f:render partial="Issue/FormFields" section="Content" arguments="{object: issue, products: products}"/>
			<li>
				<f:form.submit value="Update" />
			</li>
		</ol>
	</f:form>
</f:section>
</html>