<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers">


<f:layout name="Default" />

<f:section name="Title">A list of issues</f:section>

<f:section name="Content">
	<f:if condition="{issues}">
		<f:then>
			<ul>
				<f:for each="{issues}" as="issue">
					<li>
						<f:link.action action="show" arguments="{issue: issue}">{issue.title}</f:link.action>
						<f:link.action action="edit" arguments="{issue: issue}">Edit</f:link.action>
						<f:if condition="{issue.advisory}">
						<f:else>
							<f:form action="createAdvisory" arguments="{issue: issue}">
								<f:form.submit value="Create Advisory" />
							</f:form>
						</f:else>
						</f:if>
						<f:form action="delete" arguments="{issue: issue}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No issues created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new issue</f:link.action></p>
</f:section>
</html>