<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="Title">New issue</f:section>

<f:section name="Content">

	<f:form.validationResults for="newIssue">
		<f:if condition="{validationResults.flattenedErrors}">
			<ul>
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<li>
				{propertyPath}: <ul>
					<f:for each="{errors}" as="error"><li>{error}</li></f:for>
					</ul>
				</li>
			</f:for></ul>
		</f:if>
	</f:form.validationResults>

	<p>Just fill out the following form to create a new issue:</p>

	<f:form action="create" objectName="newIssue">
		<ol>
			<f:render partial="Issue/FormFields" section="Content" arguments="{_all}"/>
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>

</html>