html, body {
	height: 100%;
	background: none !important;
	margin-bottom: 70px;
}


/*general styles*/
.alert-OK {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}

.alert-Notice, .alert-Info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}

.alert-Warning {
	background-color: #fcf8e3;
	border-color: #fbeed5;
	color: #c09853;
}

.alert-Error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

a.btn {
	color: #333;
}

a.btn-primary, a.btn-danger, a.btn-success {
	color: #fff;
}


.btn-text, .btn-text:hover, .btn-text:active {
	background: none;
	border: none;
	cursor: default;
	box-shadow: none;
}

.btn-group form {
	float: left;
}


/*layout*/
div#content {
	margin-bottom: 70px;
}

.sidebar-nav {
	padding: 9px 0;
}


.articles h2 {
	font-size: 1.5em;
}

.articles article {
	margin-bottom: 3em;
}

/*.additional-fields, .present-fields {*/
	/*padding-left: 40px;*/
/*}*/

/*content*/

.actions form {
	margin: 0;
}

.loading-overlay {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	z-index: 20;
}

.loading-overlay span {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	font-size: 20px;
}

textarea.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

.list-of-advisories, .list-of-issues {
	position: relative;
}

.fields-header {
	position: relative;
	width: 100%;
}

.fields-header legend {
	margin-bottom: 0px;
}

.fields-header .add-field {
	width: 100%;
	padding-left: 40px;
	margin-top: -1px;
	margin-bottom: 25px;
}

/*remove objectCollections*/

.panel-title {
	position: relative;
}

.toggle-delete-action {
	position: absolute;
	right: 0;
	top: -7px;
}


/*content - agination widget*/
.typo3-widget-paginator {
	list-style: none;
	text-align: center;
}

.typo3-widget-paginator li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.list-of-advisories .advisory h2 {
	margin-top: 0px;
}


/* content - issue form fields */
select.product {
	display: none;
}

.affected-versions {
	display: none;
}

#product-autocomplete-remote-source, #version-autocomplete-remote-source {
	display: none;
}

.selected-affected-versions {
	display: none;
}

.add-new-versions {
	margin-top: 10px;
}

#new-versions-modal textarea {
	width: 100%;
	box-sizing: border-box;
}

.created-versions-outer {
	display: none;
}

/*content - visualsearch*/

.visualsearch {
	margin-bottom: 20px;
}

.VS-icon-cancel{
	right: 36px !important;
	background-image:url(../img/visualsearch/cancel_search.png?1311104738) !important;
}

.VS-icon-search{
	background-image:url(../img/visualsearch/search_glyph.png?1311104738) !important;
}

.VS-search .VS-search-box {
	border-radius: 0px;
}

.VS-search .VS-save-search-box {
	position: absolute;
	right: 0px;
	top: 0px;
	padding-left: 6px;
	height: 100%;
	cursor: pointer;
	border-left: 1px solid #ccc;
	width: 25px;
	color: gray;
}

.VS-search .VS-save-search-box:hover {
	color: #000;
}

.VS-search .VS-save-search-box i {
	margin-top: 6px;
}

.VS-search .VS-search-inner {
	margin-right: 54px;
}

.VS-interface.ui-autocomplete .ui-menu-item {
	font-weight: normal !important;
}

.remove-saved-search {
	margin-right: 5px;
}

.saved-searches li {
	margin-bottom: 2px;
}

.saved-searches-container .well {
	padding-top: 5px;
	padding-bottom: 5px;
}

.VS-search .search_input input {
	margin-top: 2px;
}

.VS-search .search_facet input {
	margin-top: 1px;
}

/*content - datetimepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

/*content - auto-complete field*/
.autocomplete-field {
	position: relative;
}

.autocomplete-field input {
	padding-right: 30px;
}


.autocomplete-field .autocomplete-indicator {
	color: #cccccc;
	position: absolute;
	top: 11px;
	right: 11px;
}

.autocomplete-indicator.glyphicon-refresh {
	-webkit-animation: spin 1000ms infinite linear;
	animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

/*content - markdown*/
.md-editor>textarea {
	padding: 10px !important;
}

/* markdown editor */
.markdown {
	min-height: 200px !important; /* temporary fix */
}
