html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -70px;
}

#wrap .container {
	padding-top: 60px;
	padding-bottom: 120px;
}

.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
textarea.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

/* issue form fields */
select#product {
	display: none;
}

#affected-versions {
	display: none;
}

#product-autocomplete-remote-source, #version-autocomplete-remote-source {
	display: none;
}

.actions {
	overflow: hidden;
}
.actions .btn {
	float: left;
	margin-right: 1em;
}

.actions form {
	margin: 0;
}

.articles h2 {
	font-size: 1.5em;
}

.articles article {
	margin-bottom: 3em;
}

footer {
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: right;
	color: #ccc;
}


/*visualsearch*/

.VS-icon-cancel{
	right: 36px !important;
	background-image:url(../img/visualsearch/cancel_search.png?1311104738) !important;
}

.VS-icon-search{
	background-image:url(../img/visualsearch/search_glyph.png?1311104738) !important;
}

.VS-search .VS-search-box {
	border-radius: 4px;
}

.VS-search .VS-save-search-box {
	position: absolute;
	right: 0px;
	top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
	cursor: pointer;
	border-left: 1px solid #ccc;
}

.VS-search .VS-save-search-box:hover {
	background-color: #ccc;
}

.VS-search .VS-save-search-box i {
	margin-top: 6px;
}

.VS-search .VS-search-inner {
	margin-right: 54px;
}

/*advisory list*/
.advisory-visualsearch {
	margin-bottom: 20px;
}

.list-of-advisories {
	position: relative;
}

.loading-overlay {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
}

.loading-overlay span {
	position: relative;
	top: 50%;
	font-size: 20px;
}

.searchquery-output-container {
	float: left;
}

.remove-saved-search {
	margin-right: 5px;
}

.saved-searches li {
	margin-bottom: 2px;
}