html, body {
	height: 100%;
	background: none !important;
}

/*overwritten typo3.org designs*/

.p {
	padding-top: 110px;
}

.c {
	margin-bottom: 40px;
}

/*general styles*/
.alert-OK {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}

.alert-Notice, .alert-Info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}

.alert-Warning {
	background-color: #fcf8e3;
	border-color: #fbeed5;
	color: #c09853;
}

.alert-Error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

.actions {
	overflow: hidden;
}
.actions .btn {
	float: left;
	margin-right: 1em;
}

a.btn {
	color: #333;
}

a.btn-primary {
	color: #fff;
}


.btn-text, .btn-text:hover, .btn-text:active {
	background: none;
	border: none;
	cursor: default;
	box-shadow: none;
}


/*layout*/

.sidebar-nav {
	padding: 9px 0;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -70px;
}

#wrap .container {
	padding-top: 60px;
	padding-bottom: 120px;
	width: 100% !important;
}

.articles h2 {
	font-size: 1.5em;
}

.articles article {
	margin-bottom: 3em;
}

/*content*/

.actions form {
	margin: 0;
}

.loading-overlay {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
}

.loading-overlay span {
	position: relative;
	top: 50%;
	font-size: 20px;
}

.add-field {
	margin-top: 5px;
	margin-bottom: 10px;
}

textarea.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

.list-of-advisories, .list-of-issues {
	position: relative;
}


/*content - agination widget*/
.typo3-widget-paginator {
	list-style: none;
	text-align: center;
}

.typo3-widget-paginator li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}


/* content - issue form fields */
select.product {
	display: none;
}

.affected-versions {
	display: none;
}

#product-autocomplete-remote-source, #version-autocomplete-remote-source {
	display: none;
}

.selected-affected-versions {
	display: none;
}

.add-new-versions {
	display: block;
	box-sizing: border-box;
	width: 220px;
}

#new-versions-modal textarea {
	width: 100%;
	box-sizing: border-box;
}

.created-versions-outer {
	display: none;
}

/*content - visualsearch*/

.visualsearch {
	margin-bottom: 20px;
}

.VS-icon-cancel{
	right: 36px !important;
	background-image:url(../img/visualsearch/cancel_search.png?1311104738) !important;
}

.VS-icon-search{
	background-image:url(../img/visualsearch/search_glyph.png?1311104738) !important;
}

.VS-search .VS-search-box {
	border-radius: 4px;
}

.VS-search .VS-save-search-box {
	position: absolute;
	right: 0px;
	top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
	cursor: pointer;
	border-left: 1px solid #ccc;
}

.VS-search .VS-save-search-box:hover {
	background-color: #ccc;
}

.VS-search .VS-save-search-box i {
	margin-top: 6px;
}

.VS-search .VS-search-inner {
	margin-right: 54px;
}

.VS-interface.ui-autocomplete .ui-menu-item {
	font-weight: normal !important;
}

.remove-saved-search {
	margin-right: 5px;
}

.saved-searches li {
	margin-bottom: 2px;
	padding-left: 0 !important;
	background: none !important;
}

.saved-searches-container .well {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*content - datetimepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

/* markdown editor */
.markdown {
	height: 200px !important; /* temporary fix */
}