<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers">

<f:section name="Content">
	<li>
		<label for="solution-description">Description:</label>
		<f:form.textarea property="solutions.{iterationIndex}.description" id="solution-description" />
	</li>

	<li>
		<label for="solution-fixedInVersions">Fixed in versions:</label>
		<f:form.select property="solutions.{iterationIndex}.fixedInVersions" id="solution-fixedInVersions" options="{arguments.issue.product.versions}" optionLabelField="humanReadableVersionNumber" size="5" multiple="multiple" />
	</li>
</f:section>
</html>